#mainContainer{
    margin-left: 15%;
    margin-right: 15%;
}

#scrapeButton{
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.jumbotron {
    background-image: url("/images/handspaper.jpg");
    background-size: cover;
     background-repeat: no-repeat;
    background-position: center center;
}

#titleContainer {
    color: rgb(8, 8, 8);
 }

 a {
    text-decoration: none;
    color: white;
 }

 .saveArticleButton{
     background-color: green;
     border-color: green;
 }